@font-face {
    font-family: 'nanum-amsterdam';
    src: url(/font-fam/나눔손글씨\ 암스테르담.ttf);
}

body {
    background-color: rgba(144, 238, 144, 0.3);
}

#mainHead {
}

#mainHead > div {
    width: 300px;
    height: 100px;
    border: 2px solid sienna;
    background-color: aliceblue;
    border-radius: 25px;
    margin-left: auto;
    margin-right: auto;
}

#mainHead > div > p{
    font-family: 'nanum-amsterdam';
    font-size: 35pt;
    font-weight: bolder;
    color: rgb(109, 185, 109);
    text-align: center;
    margin-top: 20px;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    margin-left: 20px;
    margin-right: 20px;
}

.shield{
    background-color: rgba(255, 255, 255, 0.579);
}

#mainSecShield{
    display: none;
    grid-row-start: 1;
    grid-column-start: 1;
    z-index: 1;
    border-radius: 15px;
}

#mainSec{
    grid-row-start: 1;
    grid-column-start: 1;
    z-index: 0;
    border: 2px solid sienna;
    border-radius: 15px;
    padding-top: 30px;
    padding-bottom: 50px;
    background-color: rgb(209, 239, 250);
}

#mainSec > div{
    height: 55px;
    text-align: center;
    margin-bottom: 15px;
}

#mainSec > div > span{
    font-family: "nanum-amsterdam";
    font-weight: bolder;
    font-size: 35pt;
}

#mainSec > div > input{
    width: 40px;
    height: 40px;
}

#mainSec > div .left{
}

#mainSec > div .right{
}

#mainCal{
    background-color:cadetblue;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    border-spacing: 8px;
}

#mainCal td{
    font-family: "nanum-amsterdam";
    font-weight: bolder;
    font-size: 15pt;
    text-align: center;
    border: 1px solid rgb(62, 65, 65);
    border-radius: 10px;
    box-shadow: 2px 2px gray;
    width: 140px;
    height: 115px;
    vertical-align: top;
    background-color: rgb(255, 227, 232);
}

#mainCal td:hover{
    background-color: rgb(255, 137, 159) !important;
}

#editSec{
    grid-row-start: 1;
    grid-column-start: 1;
    z-index: 3;
    width: 700px;
    height: 500px;
    margin: auto;
    border: 2px solid black;
    border-radius: 15px;
    background-color:bisque;
    transition: 0.5s linear;
    transform-origin: center center;
    transform-style: preserve-3d;
    transform: scale(0.0);
}

#editSec .exit{
    float: right;
    width: fit-content;
    height: fit-content;
    margin-top: 10px;
    margin-right: 10px;
    background-color: transparent;
    border: 0px;
}

#editSec p{
    width: fit-content;
    margin-left: 100px;
    margin-top: 5px;
    margin-bottom: 0;
    text-align: center;
    font-size: 20pt;
}

#editTodo{
    width: 500px;
    height: 370px;
    margin-left: 100px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: aliceblue;
    overflow-y: scroll;
}


#editTodo > table{
    width: 490px;
    table-layout: fixed;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4px;
}

#editTodo > table .col1{
    font-size: 15pt;
    width: 150px;
    border-bottom: 1px solid black;
    white-space: nowrap;
    overflow: scroll;
}

#editTodo > table .col1::-webkit-scrollbar{
    display: none;
}

#editTodo > table .col2{
    width: 15px;
    text-align: center;
}

#editTodoTArea{
    width: fit-content;
    height: fit-content;
    margin-left: 100px;
    margin-top: 10px;
}

#editTodoTArea input{
    width: 435px;
    height: 50px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 3px solid gray;
    border-radius: 20px;
    font-size: 17pt;
    text-align: center;
    vertical-align: middle;
    caret-color: tomato;
}

#editTodoTArea button{
    width: 60px;
    height: 60px;
    margin-left: 5px;
    background-color: beige;
    border-radius: 30px;
    box-shadow: 1px 1px gray;
}

#boardSec{
    position: relative;
    height: 800px;
    border: 2px solid saddlebrown;
    border-radius: 15px;
    background-color: rgb(253, 220, 159);
    overflow: auto;
    top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 50px;
    padding-top: 35px;
}

#todayTodo{
    float: left;
    border: 3px dotted rgb(255, 87, 53);
    border-radius: 10px;
    width: 325px;
    font-family: 'nanum-amsterdam';
    font-size: 25pt;
    margin-left: 50px;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

#todayTodo h3{
    font-size: 30pt;
    margin-bottom: 10px;
}

#mainTodoLi{
    max-height: 300px;
    overflow: scroll;
}

#timetable{
    float: left;
    border: 3px dotted rgb(255, 87, 53);
    border-radius: 8px;
    margin-left: 40px;
}

