<!DOCTYPE html>
<html lang="en">

<%- include('layouts/header'); -%>

<body>
    <header id="mainHead">
        <div>
            <p>월간 일정표</p>
        </div>
    </header>
    <br>
    <div class="container">
        <section id="mainSec">
            <div>
                <input type="image" src="icons/left-arrow.png" onclick="shiftMonth(-1);return false;">
                <span id="mainMonth"><script>showMonth();</script></span>
                <input type="image" src="icons/right-arrow.png" onclick="shiftMonth(1);return false;">
            </div>
            <table id="mainCal">
                <script>
                    makeMainCal();
                </script>
            </table>
        </section>
    </div>
    <section id="boardSec">
        <div id="todayTodo">
            <h3 style="text-align: center;">오늘의 할일</h3>
            <hr>
            <ul id="mainTodoLi"></ul>
        </div>
        <!-- <div id="timetable">
            <h3 style="text-align: center;"></h3>
            <table>
                <caption>시간표</caption>
                <script>
                    for(let i=0; i<=24; i++) {
                        document.write("<tr>");
                        document.write("<td>" + i + "</td>");
                        document.write("</tr>");
                    }
                </script>
            </table>
        </div> -->
    </section>
</body>
</html>